@font-face {
    font-family: "Gill Sans MT";
    src: url(gillsansmt.ttf);
}

.navbar-custom {
    background-color: #3C4AE5;
}

#upper-navbar-text {
    color: #ffff;
    font-family: "Gill Sans MT";
}

.custom-table {
      max-width: 800px; /* Adjust as needed */
      margin: 0 auto;   /* Center the table horizontally */
}
