<!doctype HTML>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Adicionar um produto</title>
    <link rel="stylesheet" href="/CSS/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
</head>
<body>
<nav class="navbar navbar-custom fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="upper-navbar-text" class="navbar-brand">ADICIONAR PRODUTO</a>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <form th:action="@{/products/createProduct}" th:object="${productDTO}" enctype="multipart/form-data" method="POST">
        <div class="form-group">

            <div>
                <div>
                    <label><b>Ativo?</b></label>
                    <input class="form-check-input" id="activeCheckbox" type="checkbox" th:field="*{active}" th:checked="*{active}">
                </div>

                <div id="inactiveProductReason" style="display:none;">
                    <label for="reasonForInactivation">Razão para inativação?</label>
                    <input type="text" class="form-control" th:field="*{reasonForInactivation}" id="reasonForInactivation">
                </div>

                <label><b>Nome</b></label>
                <input type="text" class="form-control" id="name" placeholder="Insira o nome do produto" th:field="*{name}" required>

                <label><b>Descrição</b></label>
                <textarea class="form-control" id="description" placeholder="Insira uma descrição para o produto (opcional)" rows="2" th:field="*{description}"></textarea>

                <label><b>Altura (cm)</b></label>
                <input type="number" class="form-control" id="height" step="0.01" min="0" placeholder="Insira a altura do produto" th:field="*{height}" required>

                <label><b>Largura (cm)</b></label>
                <input type="number" class="form-control" id="width" step="0.01" min="0" placeholder="Insira a largura do produto" th:field="*{width}" required>

                <label><b>Comprimento (cm)</b></label>
                <input type="number" class="form-control" id="length" step="0.01" min="0" placeholder="Insira o comprimento do produto" th:field="*{length}" required>

                <label><b>Peso (g)</b></label>
                <input type="number" class="form-control" id="weight" step="0.01" min="0" placeholder="Insira o peso do produto" th:field="*{weight}" required>

                <label><b>Preço de compra</b></label>
                <input type="number" class="form-control" id="purchaseAmount" step="0.01" min="0" placeholder="Insira o preço de compra do produto" th:field="*{purchaseAmount}" required>

                <div class="form-group">
                    <label>Categorias</label>

                    <select multiple class="form-control" id="categorySelect" th:field="*{categoriesIds}">
                        <option
                                th:each="category : ${categoryList}"
                                th:value="${category.id}"
                                th:text="${category.name}"
                        ></option>
                    </select>
                </div>

                <div class="form-group">
                    <label><b>Grupo de precificação</b></label>
                    <select class="form-control" id="pricingGroupSelect" th:field="*{pricingGroup}">
                        <option selected value="0">Selecione um grupo de precificação</option>
                        <option
                                th:each="pricingGroup : ${pricingGroupList}"
                                th:value="${pricingGroup.id}"
                                th:text="${pricingGroup.name} + ' (' + ${pricingGroup.percentage * 100} + '%)' "
                        ></option>
                    </select>
                </div>

                <label><b>Preço de venda</b></label>
                <p class="text-primary" style="display: inline;">O valor do preço de venda não pode ser menor do que o preço de compra + o grupo de precificação.</p>
                <input type="number" class="form-control" id="price" step="0.01" min="0" placeholder="Insira o preço de venda do produto" th:field="*{price}" required>

                <label><b>Quantidade disponível em estoque</b></label>
                <input type="number" class="form-control" id="productQuantityAvailable" step="1" placeholder="Insira a quantidade disponível do produto em estoque" th:field="*{stockDTO.productQuantityAvailable}" required>

                <label><b>Data de entrada em estoque</b></label>
                <input type="date" class="form-control" id="entryInStockDate" placeholder="Insira a data de entrada do produto no estoque" th:field="*{stockDTO.entryInStockDate}" required>

                <div class="form-group">
                    <label><b>Fornecedor</b></label>
                    <select class="form-control" id="supplier" th:field="*{supplier}">
                        <option selected value="0">Selecione um fornecedor</option>
                        <option
                                th:each="supplier : ${supplierList}"
                                th:value="${supplier.id}"
                                th:text="${supplier.name}"
                        ></option>
                    </select>
                </div>

                <div class="form-group">
                    <label><b>Fabricante</b></label>
                    <select class="form-control" id="manufacturer" th:field="*{manufacturer}">
                        <option selected value="0">Selecione uma fabricante</option>
                        <option
                                th:each="manufacturer : ${manufacturerList}"
                                th:value="${manufacturer.id}"
                                th:text="${manufacturer.name}"
                        ></option>
                    </select>
                </div>

                <div class="form-group">
                    <label><b>Tamanho do produto</b></label>
                    <select class="form-control" id="size" th:field="*{size}">
                        <option selected value="0">Selecione o tamanho</option>
                        <option
                                th:each="size : ${sizeList}"
                                th:value="${size.id}"
                                th:text="${size.name}"
                        ></option>
                    </select>
                </div>

                <label><b>Foto do produto</b></label>
                <input type="file" class="form-control" id="fileInput" th:field="*{productImage}" required>

            </div>

        <button type="submit" class="btn btn-primary add-delete-button" id="createButton" >Criar</button>
        <a class="btn btn-danger add-delete-button" id="backButton" th:href="@{/products/seeProducts}">Voltar</a>

        </div>

    </form>

</div>

<footer id="footer">
    <img src="/Images/figureoutlogo1.svg">
</footer>

<script>
    document.getElementById('activeCheckbox').addEventListener('change', function() {
        var inputContainer = document.getElementById('inactiveProductReason');

        // Show the input field if checkbox is unchecked (meaning inactive)
        if (!this.checked) {
            inputContainer.style.display = 'block';
        } else {
            inputContainer.style.display = 'none';
        }
    });
</script>


</body>
</html>