<!doctype HTML>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adicionar um cliente</title>
		<link rel="stylesheet" href="/CSS/styles.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
	</head>
    <body>
        <nav class="navbar navbar-custom fixed-top">
            <div class="container-fluid">
				<div class="navbar-header">
					<a id="upper-navbar-text" class="navbar-brand">ADICIONAR CLIENTE</a>
				</div>
			</div>
		</nav>

		<div class="container mt-5">
			<form th:action="@{/createClient}" th:object="${clientDTO}" method="POST">
				<div class="form-group">

					<div>
						<label><b>Nome completo</b></label>
						<input type="text" class="form-control" placeholder="Insira o seu nome completo" th:field="*{name}" required>

						<label><b>Email</b></label>
						<input class="form-control" placeholder="Insira o seu email" th:field="*{email}" required>

						<label><b>Senha</b></label>
						<input class="form-control" placeholder="Insira uma senha forte!" th:field="*{password}" required>

						<label><b>Confirme sua senha</b></label>
						<input class="form-control" placeholder="Confirme sua senha!" th:field="*{confirmPassword}" required>

						<label><b>Data de Nascimento</b></label>
						<input type="date" class="form-control" th:field="*{birthday}" required>

						<label for="cpf-input"><b>CPF</b></label>
						<input type="text" id="cpf-input" class="form-control" placeholder="Insira seu CPF" th:field="*{cpf}" required>
					</div>

					<div>
						<label><b>Ativo?</b></label>
						<input class="form-check-input" type="checkbox" th:field="*{enabled}">
					</div>

					<label><b>Gênero</b></label>
					<div class="radio-group" th:each="gender : ${genderList}">
						<input type="radio" th:field="*{gender.id}" th:value="${gender.id}" th:text="${gender.genderType}" required/>
					</div>

					<div>
						<label><b>Tipo de telefone</b></label>
						<div class="radio-group">
							<label><input type="radio" th:field="*{phone.cellphone}" value="false"/> Fixo</label>
							<label><input type="radio" th:field="*{phone.cellphone}" value="true"/> Celular</label>
						</div>

						<label><b>DDD</b></label>
						<input type="text" id="ddd" class="form-control" placeholder="(11)" th:field="*{phone.ddd}" maxlength="4" required>

						<label><b>Número de telefone</b></label>
						<input type="text" id="phone" class="form-control" placeholder="Digite o número de telefone" th:field="*{phone.phoneNumber}" maxlength="10" required>
					</div>

					<label><b>Endereços</b></label>

					<div>
						<label><b>Usar o endereço de entrega como endereço de cobrança também?</b></label>
						<input class="form-check-input" type="checkbox" id="isSameAddressCheckbox" th:field="*{sameAddress}">
					</div>

					<div class="mt-2">
						<label><b>Endereço de entrega</b></label>

						<div>
							<label><b>Apelido</b></label>
							<input type="text" class="form-control" placeholder="Digite o apelido" th:field="*{deliveryAddressDTO.nickname}" required>
						</div>

						<div>
							<label><b>Tipo de Residência</b></label>
							<input type="text" class="form-control" placeholder="(Casa, apartamento, etc...)" th:field="*{deliveryAddressDTO.typeOfResidence}" required>
						</div>

						<div>
							<label><b>Tipo de logradouro</b></label>
							<input type="text" class="form-control" placeholder="(Rua, Avenida, etc...)" th:field="*{deliveryAddressDTO.addressingType}" required>
						</div>

						<div>
							<label><b>Logradouro</b></label>
							<input type="text" class="form-control" placeholder="Insira o logradouro" th:field="*{deliveryAddressDTO.addressing}" required>
						</div>

						<div>
							<label><b>Nº de residência</b></label>
							<input type="text" class="form-control" placeholder="Insira o número da residência" th:field="*{deliveryAddressDTO.houseNumber}" maxlength="5" required>
						</div>

						<div>
							<label><b>CEP</b></label>
							<input type="text" class="form-control" placeholder="00000-000" th:field="*{deliveryAddressDTO.cep}" maxlength="9" required>
						</div>

						<div>
							<label><b>Bairro</b></label>
							<input type="text" class="form-control" placeholder="Insira o bairro" th:field="*{deliveryAddressDTO.neighbourhood}" required>
						</div>

						<div>
							<label><b>Cidade</b></label>
							<input type="text" class="form-control" placeholder="Insira a cidade" th:field="*{deliveryAddressDTO.city}" required>
						</div>

						<div>
							<label><b>Estado</b></label>
							<input type="text" class="form-control" placeholder="Insira o Estado" th:field="*{deliveryAddressDTO.state}" required>
						</div>

						<div>
							<label><b>País</b></label>
							<input type="text" class="form-control" placeholder="Insira o País" th:field="*{deliveryAddressDTO.country}" required>
						</div>

						<div>
							<label><b>Observação</b></label>
							<input type="text" class="form-control" placeholder="Insira uma observação (opcional)" th:field="*{deliveryAddressDTO.observation}">
						</div>
					</div>

					<div class="mt-2" id="chargingAddressDiv">
						<label><b>Endereço de cobrança</b></label>

						<div>
							<label><b>Apelido</b></label>
							<input type="text" class="form-control" placeholder="Digite o apelido" th:field="*{chargingAddressDTO.nickname}">
						</div>

						<div>
							<label><b>Tipo de Residência</b></label>
							<input type="text" class="form-control" placeholder="(Casa, apartamento, etc...)" th:field="*{chargingAddressDTO.typeOfResidence}">
						</div>

						<div>
							<label><b>Tipo de logradouro</b></label>
							<input type="text" class="form-control" placeholder="(Rua, Avenida, etc...)" th:field="*{chargingAddressDTO.addressingType}">
						</div>

						<div>
							<label><b>Logradouro</b></label>
							<input type="text" class="form-control" placeholder="Insira o logradouro" th:field="*{chargingAddressDTO.addressing}">
						</div>

						<div>
							<label><b>Nº de residência</b></label>
							<input type="text" class="form-control" placeholder="Insira o número da residência" th:field="*{chargingAddressDTO.houseNumber}" maxlength="5">
						</div>

						<div>
							<label><b>CEP</b></label>
							<input type="text" class="form-control" placeholder="00000-000" th:field="*{chargingAddressDTO.cep}" maxlength="9">
						</div>

						<div>
							<label><b>Bairro</b></label>
							<input type="text" class="form-control" placeholder="Insira o bairro" th:field="*{chargingAddressDTO.neighbourhood}">
						</div>

						<div>
							<label><b>Cidade</b></label>
							<input type="text" class="form-control" placeholder="Insira a cidade" th:field="*{chargingAddressDTO.city}">
						</div>

						<div>
							<label><b>Estado</b></label>
							<input type="text" class="form-control" placeholder="Insira o Estado" th:field="*{chargingAddressDTO.state}">
						</div>

						<div>
							<label><b>País</b></label>
							<input type="text" class="form-control" placeholder="Insira o País" th:field="*{chargingAddressDTO.country}">
						</div>

						<div>
							<label><b>Observação</b></label>
							<input type="text" class="form-control" placeholder="Insira uma observação (opcional)" th:field="*{chargingAddressDTO.observation}">
						</div>
					</div>

				</div>

				<button type="submit" class="btn btn-primary add-delete-button">Criar</button>
				<a class="btn btn-danger add-delete-button" th:href="@{/index}">Voltar</a>

			</form>

		</div>

		<script>

			sameAddressInput = document.getElementById("isSameAddressCheckbox");
			chargingAddressDiv = document.getElementById("chargingAddressDiv")


			sameAddressInput.addEventListener('click', function(event) {

				if(sameAddressInput.checked == true) {

					chargingAddressDiv.style.display = 'none';

				} else {

					chargingAddressDiv.style.display = 'block';

				}

			})

		</script>

		<footer id="footer">
			<img src="/Images/figureoutlogo1.svg">
		</footer>


    </body>
</html>