<!doctype HTML>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Adicionar um cliente</title>
		<link rel="stylesheet" href="/CSS/styles.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<link rel="icon" href="/Images/favicon.ico" type="image/x-icon">
	</head>
    <body>
        <nav class="navbar navbar-custom fixed-top">
            <div class="container-fluid">
				<div class="navbar-header">
					<a id="upper-navbar-text" class="navbar-brand">ADICIONAR CLIENTE</a>
				</div>
			</div>
		</nav>

		<div class="container mt-5">
			<form th:action="@{/createClient}" th:object="${clientDTO}" method="POST">
				<div class="form-group">

					<div>
						<label><b>Nome completo</b></label>
						<p class="text-primary" style="display: inline;">o nome não pode possuir caracteres especiais ou números, e deve ser o nome completo.</p>
						<input type="text" class="form-control" id="name" placeholder="Insira o seu nome completo" th:field="*{clientBasicDataDTO.name}" required>
						<p th:errors="*{clientBasicDataDTO.name}" class="text-danger"></p>

						<label><b>Email</b></label>
						<input class="form-control" placeholder="Insira o seu email" id="email" th:field="*{clientBasicDataDTO.email}" required>
						<p th:errors="*{clientBasicDataDTO.email}" class="text-danger"></p>

						<label><b>Senha</b></label>
						<p class="text-primary" style="display: inline;">a senha deve possuir, no mínimo:
						   8 caracteres;
						   uma letra maiúscula;
						   uma letra minúscula;
						   um número;
						   um caracter especial. (#, @, $, %, !, ?, etc.)</p>
						<input class="form-control" placeholder="Insira uma senha forte!" id="password" th:field="*{clientBasicDataDTO.password}" required>
						<p th:errors="*{clientBasicDataDTO.password}" class="text-danger"></p>

						<label><b>Confirme sua senha</b></label>
						<input class="form-control" placeholder="Confirme sua senha!" id="confirmPassword" th:field="*{clientBasicDataDTO.confirmPassword}" required>
						<p th:errors="*{clientBasicDataDTO.confirmPassword}" class="text-danger"></p>

						<label><b>Data de Nascimento</b></label>
						<input type="date" class="form-control" id="birthday" th:field="*{clientBasicDataDTO.birthday}" required>
						<p th:errors="*{clientBasicDataDTO.birthday}" class="text-danger"></p>

						<label for="cpf"><b>CPF</b></label>
						<input type="text" id="cpf" class="form-control" placeholder="Insira seu CPF" th:field="*{clientBasicDataDTO.cpf}" required>
						<p th:errors="*{clientBasicDataDTO.cpf}" class="text-danger"></p>
					</div>

					<div>
						<label><b>Ativo?</b></label>
						<input class="form-check-input" type="checkbox" id="enabled" th:field="*{clientBasicDataDTO.enabled}">
						<p th:errors="*{clientBasicDataDTO.enabled}" class="text-danger"></p>
					</div>

					<label><b>Gênero</b></label>
					<div class="radio-group" th:each="gender : ${genderList}">
						<input type="radio" th:field="*{clientBasicDataDTO.genderDTO.id}" th:id="'gender-' + ${gender.id}" th:value="${gender.id}" th:text="${gender.genderType}" required/>
					</div>
					<p th:errors="*{clientBasicDataDTO.genderDTO.id}" class="text-danger"></p>

					<div>
						<label><b>Tipo de telefone</b></label>
						<div class="radio-group">
							<label><input type="radio" id="phoneFalse" th:field="*{clientBasicDataDTO.phoneDTO.cellphone}" value="false"/> Fixo</label>
							<label><input type="radio" id="phoneTrue" th:field="*{clientBasicDataDTO.phoneDTO.cellphone}" value="true"/> Celular</label>
							<p th:errors="*{clientBasicDataDTO.phoneDTO.cellphone}" class="text-danger"></p>
						</div>

						<label><b>DDD</b></label>
						<input type="text" id="ddd" class="form-control" placeholder="(11)" th:field="*{clientBasicDataDTO.phoneDTO.ddd}" maxlength="2" required>
						<p th:errors="*{clientBasicDataDTO.phoneDTO.ddd}" class="text-danger"></p>

						<label><b>Número de telefone</b></label>
						<input type="text" id="phoneNumber" class="form-control" placeholder="Digite o número de telefone" th:field="*{clientBasicDataDTO.phoneDTO.phoneNumber}" maxlength="10" required>
						<p th:errors="*{clientBasicDataDTO.phoneDTO.phoneNumber}" class="text-danger"></p>
					</div>

					<label><b>Endereços</b></label>

					<div class="mt-2">
						<label><b>Endereço</b></label>

						<div>

							<div>
								<p th:errors="*{addressDTO}" class="text-danger"></p>

								<label><b>Tipo:</b></label>

								<label><b>Entrega</b></label>
								<input class="form-check-input" id="deliveryAddress" type="checkbox" th:field="*{addressDTO.deliveryAddress}">

								<label><b>Cobrança</b></label>
								<input class="form-check-input" id="chargingAddress" type="checkbox" th:field="*{addressDTO.chargingAddress}">

							</div>

						</div>

						<div>
							<label><b>Apelido</b></label>
							<input type="text" class="form-control" id="nickname" placeholder="Digite o apelido" th:field="*{addressDTO.nickname}" required>
							<p th:errors="*{addressDTO.nickname}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Tipo de Residência</b></label>
							<input type="text" class="form-control" id="typeOfResidence" placeholder="(Casa, apartamento, etc...)" th:field="*{addressDTO.typeOfResidence}" required>
							<p th:errors="*{addressDTO.typeOfResidence}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Tipo de logradouro</b></label>
							<input type="text" class="form-control" id="addressingType" placeholder="(Rua, Avenida, etc...)" th:field="*{addressDTO.addressingType}" required>
							<p th:errors="*{addressDTO.addressingType}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Logradouro</b></label>
							<input type="text" class="form-control" id="addressing" placeholder="Insira o logradouro" th:field="*{addressDTO.addressing}" required>
							<p th:errors="*{addressDTO.addressing}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Nº de residência</b></label>
							<input type="text" class="form-control" id="houseNumber" placeholder="Insira o número da residência" th:field="*{addressDTO.houseNumber}" maxlength="5" required>
							<p th:errors="*{addressDTO.houseNumber}" class="text-danger"></p>
						</div>

						<div>
							<label><b>CEP</b></label>
							<input type="text" class="form-control" id="cep" placeholder="00000-000" th:field="*{addressDTO.cep}" maxlength="10" required>
							<p th:errors="*{addressDTO.cep}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Bairro</b></label>
							<input type="text" class="form-control" id="neighbourhood" placeholder="Insira o bairro" th:field="*{addressDTO.neighbourhood}" required>
							<p th:errors="*{addressDTO.neighbourhood}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Cidade</b></label>
							<input type="text" class="form-control" id="city" placeholder="Insira a cidade" th:field="*{addressDTO.city}" required>
							<p th:errors="*{addressDTO.city}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Estado</b></label>
							<select class="form-select" aria-label="Escolha um estado" id="stateSelect" th:field="*{addressDTO.stateDTO.id}">
                                <option value="0" selected>Adicione o estado</option>
								<option th:each="state : ${stateList}" th:value="${state.id}" th:text="${state.name}">
							</select>
							<p th:errors="*{addressDTO.stateDTO.id}" class="text-danger"></p>
						</div>

						<div>
							<label><b>País</b></label>
							<select class="form-select" aria-label="Escolha um país" id="countrySelect" th:field="*{addressDTO.countryDTO.id}">
								<option value="0" selected>Adicione o país</option>
								<option th:each="country : ${countryList}" th:value="${country.id}" th:text="${country.name}">
							</select>
							<p th:errors="*{addressDTO.countryDTO.id}" class="text-danger"></p>
						</div>

						<div>
							<label><b>Observação</b></label>
							<input type="text" class="form-control" placeholder="Insira uma observação (opcional)" id="observation" th:field="*{addressDTO.observation}">
							<p th:errors="*{addressDTO.observation}" class="text-danger"></p>
						</div>
					</div>

				</div>

				<button type="submit" id="createButton" class="btn btn-primary add-delete-button">Criar</button>
				<a class="btn btn-danger add-delete-button" id="backButton" th:href="@{/showAllClients}">Voltar</a>

			</form>

		</div>

		<footer id="footer">
			<img src="/Images/figureoutlogo1.svg">
		</footer>


    </body>
</html>