<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página do Produto</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Figure Out</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="shop.html">Produtos</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../static/Images/Product%20Images/asukaTeste.jpg" onerror="this.onerror=null; this.src='Product_Images/asukaTeste.jpg';" class="img-fluid" alt=src="Imagem do produto">
    </div>
    <div class="col-md-6">
      <h2>Asuka - Niitengo (Toy's Works)</h2>
      <p id="price" class="lead">R$ 159,99</p>

      <a href="cart.html" class="btn btn-primary btn-lg" >Adicionar ao Carrinho</a>

      <p><br>Descrição super detalhada do produto.</p>

      <h5>Especificações:</h5>
      <ul>
        <li id="size">Tamanho: 0,65 cm</li>
        <li id="material">Material: ABS, PVC</li>
        <li id="company">Empresa: Toy's Work</li>
      </ul>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
