<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catálogo de Produtos</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Figure Out</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/index">Administrador</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Produtos</a>
      </li>-->
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <h1 class="text-center">Catálogo de Produtos</h1>

  <!-- Filtro de categorias
  <div class="mb-4">
    <label for="categorySelect" class="form-label">Categorias:</label>
    <select class="form-select" id="categorySelect">
      <option selected>Todos os produtos</option>
      <option value="1">Chaveiros</option>
      <option value="2">Pré-pintado</option>
      <option value="3">Model Kit</option>
      <option value="4">Miniatura</option>
    </select>

    <label for="sizeSelect" class="form-label">Tamanho:</label>
    <select class="form-select" id="sizeSelect">
      <option selected>Todos os tamanhos</option>
      <option value="1">1/4</option>
      <option value="2">1/6</option>
      <option value="3">1/7</option>
      <option value="4">1/8</option>
      <option value="5">1/16</option>
    </select>

  </div>-->

  <div class="row">

    <div class="col-md-4 mb-4" th:each="product : ${products}">
      <div class="card">
        <img th:src="@{/products/productPicture/{id}(id=${product.id})}" class="card-img-top">   <!--alt="Produto 1"-->
        <div class="card-body">
          <h5 class="card-title" th:text="${product.name}"></h5>
          <p class="card-text" th:text="'R$' +  ${product.purchaseAmount}"><strong></strong></p>
          <a th:href="@{/products/specificProduct/{id}(id=${product.id})}" class="btn btn-primary">Visualizar produto</a>
        </div>
      </div>
    </div>

    <!--
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="../static/Images/Product%20Images/paimonTeste.jpg" class="card-img-top" alt="Produto 2">
        <div class="card-body">
          <h5 class="card-title">Paimon - 1/7 (Apex Innovation)</h5>
          <p class="card-text"><strong>R$ 549,68</strong></p>
          <a href="product.html" class="btn btn-primary">Visualizar produto</a>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="../static/Images/Product%20Images/hatsuneMikuTeste.jpg" class="card-img-top" alt="Produto 3">
        <div class="card-body">
          <h5 class="card-title">Hatsune Miku - Nendoroid - Symphony 2023 Ver. (Good Smile Company)</h5>
          <p class="card-text"><strong>R$ 389,99</strong></p>
          <a href="product.html" class="btn btn-primary">Visualizar produto</a>
        </div>
      </div>
    </div>-->

  </div>

</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
